snippet todo "todo" b
# TODO (khant): $0${VISUAL}
endsnippet

snippet blg "spacer" Ab
logging.basicConfig(
	level=logging.DEBUG,
	format="%(asctime)s,%(msecs)d %(levelname)s: %(message)s",
	datefmt="%H:%M:%S",
)
endsnippet

snippet ifmain "if(main)" Ab
def main():
	$0


if __name__ == "__main__":
	main()
endsnippet

snippet skp "skip pytest" Ab
@pytest.mark.skip(reason="NO_COMMIT")
endsnippet
